@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

/* Reset & General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    background-color: rgb(44, 42, 39);
    overflow-x: hidden;
}

/* Scrollbar Customization */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background-color: #b74b4b;
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b74b4b;
}

/* Navigation Styles */
nav {
    width: 100%;
    height: 10vh;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color:white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color:#b74b4b;
    text-shadow: 0 0 10px #b74b4b;
}

/* Navigation Links */
.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color:white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color:#b74b4b;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: #b74b4b;
}

/* Section Styles */
section {
    width: 100%;
    min-height: 90vh;
}

section .content {
    width: 80%;
    margin: 0px auto;
    font-family: 'Poppins', sans-serif;
}

section .title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

section .title span {
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

section.title span::before,
section.title span::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background: #b74b4b;
    left: 0;
    bottom: 0;
}

section .title span::after {
    bottom: -7px;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
}

.about .about-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .about-details .left {
    width: 45%;
}

.about .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.about-details .right {
    width: 55%;
    color: white;
}

.about-details .right p {
    color: white;
}

section .topic {
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

section .button {
    margin: 16px 0;
}

section .button button {
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 25px;
    font-weight: 400;
    background:#b74b4b;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 0.4s ease;
}

section .button button:hover {
    border-color: #b74b4b;
    background-color: white;
    color: #b74b4b;
}

/* Footer Styles */
footer {
    background: #b74b4b;
    padding: 15px 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

footer .text span {
    font-size: 17px;
    font-weight: 400;
    color: wheat;
}

footer .text span a {
    font-weight: 500;
    color: white;
}

footer .text span a:hover {
    text-decoration: underline;
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: left; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    margin-top: 10px; /* Add some space above the links */
}

.social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #b74b4b;
    border-radius: 50%;
    color: #b74b4b;
    margin: 0 10px; /* Reduced horizontal margin */
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links a:hover {
    scale: 1.3;
    color: black;
    background-color: #b74b4b;
    filter: drop-shadow(0 0 10px #b74b4b);
}

/* Media Queries */
@media (max-width: 1000px) {
    .about .about-details {
        justify-content: center;
        flex-direction: column;
    }

    .about .about-details .left {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .about-details .right {
        width: 90%;
        margin: 40px 0;
    }
}

@media (max-width: 900px) {
    .about .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 968px) {
    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .nav-container .links {
        display: none;
    }
}
